.wrapper {
  display: flex;
  flex-direction: column;
  height: 93.8%;
}

.container {
  display: flex;
  position: relative;
  height: 100%;
}

.aside {
  overflow-y: auto;
  height: 100%;
  width: 300px;
}

.mainContent {
  width: 100%;
  overflow-y: auto;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}