/* FIXME: переписать на препроцессоры, когда буду адаптировать остальные страницы. Также и Aside */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 93.8%;
}

.container {
  display: flex;
  position: relative;
  height: 100%;
}

.aside {
  overflow-y: auto;
  height: 100%;
  width: 300px;
}

@media (max-width: 768px) {
  .aside {
    width: 100%;
  }
}

.mainContent {
  width: 100%;
  overflow-y: auto;
  padding: 0 50px;
}

@media (max-width: 992px) {
  .mainContent {
    padding: 0 10px;
  }
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}