.wrapper {
  text-align: left;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.item {
  margin: 0 10px 10px 0;
  width: 200px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: border 0.2s linear;
  border-bottom: 1px solid var(--main-second-bg-color);
  @media (max-width: 920px) {
    width: 170px;
  }

  @media (max-width: 620px) {
    width: 150px;
  }

  &:hover {
    transition: border 0.2s linear;
    border-bottom: 1px solid var(--main-accent-color);
  }
  &:hover .itemContainer {
    transition: border 0.2s linear;
    border-left: 1px solid var(--main-accent-color);
    border-right: 1px solid var(--main-accent-color);
  }

  .itemPicture {
    box-shadow: inset 0 -110px 20px -65px rgba(34, 36, 38, 1);
    width: 100%;
    height: 100%;

    div {
      width: 100%;
      height: 100%;
    }
  }
}

.itemContainer {
  padding: 10px;
  transition: border 0.2s linear;
  border-left: 1px solid var(--main-second-bg-color);
  border-right: 1px solid var(--main-second-bg-color);

  &:hover {
    transition: border 0.2s linear;
    border-left: 1px solid var(--main-accent-color);
    border-right: 1px solid var(--main-accent-color);
  }

  .itemContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .itemTitle {
      margin: 5px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .titleValue {
        font-weight: 200;
        color: var(--main-accent-color);
      }
    }

    .itemSubTitle {
      margin: 5px 0;
      width: 100%;
      display: flex;
      text-align: right;
      justify-content: space-between;
      align-items: center;
      overflow-y: hidden;

      .subTitle {
        color: var(--main-secondary-text-color);
        margin-right: 5px;

        @media (max-width: 620px) {
          font-size: 12px;
        }
      }

      .subTitleValue {
        color: var(--main-primary-text-color);

        @media (max-width: 620px) {
          font-size: 12px;
        }
      }
    }
  }
}
