:root {
  --main-bg-color: #222426;
  --main-second-bg-color:  #161616;
  --main-accent-color: #f9ff1a;
  --main-primary-text-color: white;
  --main-secondary-text-color: #808080;
  
}

.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: auto;
  background-color: var(--main-bg-color);
}

.appNavbar {
  position: sticky;
  top: 0;
  z-index: 10000;
}