:root {
  --main-bg-color: #222426;
  --main-second-bg-color:  #161616;
  --main-accent-color: #f9ff1a;
  --main-primary-text-color: white;
  --main-secondary-text-color: #808080;
}

body {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Oswald','Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

