.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--main-second-bg-color);
}

.backgroundImage {
  height: 100%;
  width: 100%;
  background-image: url('./../../assets/imagePlaceHolder/PageNotFound_404.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: 'hidden';
}