.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: auto;
  background-color: var(--main-bg-color);
}

.appNavbar {
  position: sticky;
  width: 100%;
  height: 55px;
  top: 0;
  z-index: 10000;
}